<footer>
    <div class="container my-auto d-flex justify-content-center">
        <div class="row text-center">
            <MudText Class="col-6 col-auto col-sm-auto col-md-auto col-md-large">
                Powered by .NET @Environment.Version
            </MudText>
            <MudText Class="col-6 col-auto col-sm-auto col-md-auto col-md-large">
                &copy; @DateTime.UtcNow.Year Sentiment Sense
            </MudText>
        </div>
    </div>
</footer>